openapi: 3.1.0

info:
  title: FRUS API
  version: 0.3.0-draft
  description: |
    # FRUS API — Draft Specification

    This document is the authoritative draft specification for a purpose-built
    FRUS API that would replace FRUS Explorer's current approach of calling the
    GitHub API for manifest data and downloading full volume XML files for local
    parsing.

    ## Version History

    | Version | Sessions | Changes |
    |---------|----------|---------|
    | 0.1.0-draft | 11–28 | Initial endpoints: volumes, documents, search, subjects |
    | 0.2.0-draft | 28–39 | Cross-reference graph, page ranges, citation lookup, person-ref search param |
    | 0.3.0-draft | 40–150 | `dateISO` on `DocumentBrowserEntry` and `SearchResult`; new `/persons`, `/terms`, `/html`, and `/source-notes` endpoints; `DocumentHighlight` schema; `StructuredSourceNote` schema; `PersonEntry` and `GlossEntry` schemas |

    ## Purpose

    FRUS Explorer currently accesses FRUS data through two channels:

    1. **GitHub API** — the `HistoryAtState/frus` repository's directory listing
       provides file sizes and SHAs; raw.githubusercontent.com serves the volume
       XML files.
    2. **Local SQLite** — `IndexingPipeline` populates `FTS5Store` and a
       `document_cache` table from the downloaded XML; all document browsing and
       full-text search runs against this local store.

    A purpose-built FRUS API would deliver rich metadata and pre-extracted text
    over HTTPS, eliminating the requirement to download 5–30 MB XML files per volume
    and removing the dependency on GitHub as a data delivery mechanism.

    ## High-Value New Endpoints (v0.3.0)

    Sessions 40–150 revealed four data surfaces that the app currently generates
    through expensive local processing (5–30 MB XML download + SAX parsing +
    AST conversion). Serving these pre-computed server-side would eliminate the
    bulk of on-device processing for most research workflows:

    | Endpoint | Data currently generated by | Processing eliminated |
    |----------|-----------------------------|-----------------------|
    | `GET /volumes/{id}/persons` | `PersonsParserDelegate` + `persons` SQLite table | Full volume XML download + SAX parse |
    | `GET /volumes/{id}/terms` | `TermsParserDelegate` + `terms` SQLite table | Full volume XML download + SAX parse |
    | `GET /volumes/{id}/documents/{id}/html` | `FRUSRenderNodeHTMLSerializer` + `HTMLTemplate` | XML download + AST conversion + HTML serialization |
    | `GET /volumes/{id}/source-notes` | `SourcesParserDelegate` + `SourceNoteParser` + `document_sources` table | XML download + provenance parsing |

    ## Relationship to the Current App

    Each endpoint in this document corresponds to a data access point in the app.
    The `description` of each operation names the Swift type and session where the
    corresponding client logic was implemented, so this document doubles as a
    migration guide: replacing a local data source with a call to the future API
    endpoint is a one-for-one substitution.

    ## Authentication

    All endpoints require an API key passed in the `X-API-Key` request header.
    Keys are issued by the Office of the Historian. In FRUS Explorer the key is
    stored in iCloud Keychain; a missing key causes affected views to display a
    prompt linking to Settings.

    ```
    GET /volumes HTTP/1.1
    X-API-Key: your-api-key-here
    ```

    Public read-only endpoints (volume list, document browse, search) may in future
    support an unauthenticated tier with a lower rate limit. The current draft
    requires authentication for all endpoints.

    ## Rate Limiting

    Rate limit state is communicated through response headers on every call:

    | Header | Description |
    |--------|-------------|
    | `X-RateLimit-Limit` | Maximum requests allowed per window |
    | `X-RateLimit-Remaining` | Requests remaining in the current window |
    | `X-RateLimit-Reset` | Unix timestamp when the window resets |

    When the limit is exceeded the server responds `429 Too Many Requests` with a
    `Retry-After` header.

    ## Pagination

    List endpoints (`GET /volumes`, `GET /volumes/{volumeId}/documents`,
    `GET /search`) accept `limit` and `offset` query parameters. Responses include
    a top-level `total` field giving the overall count. Callers should page until
    `offset + limit >= total`.

    ```json
    {
      "total": 312,
      "items": [ ... ]
    }
    ```

    The `total` field is an approximate count for search endpoints and an exact
    count for browse endpoints.

    ## Error Format

    All error responses use the `Error` schema:

    ```json
    {
      "code": "VOLUME_NOT_FOUND",
      "message": "Volume 'frus1969-76v99' was not found.",
      "detail": null
    }
    ```

  contact:
    name: Office of the Historian, U.S. Department of State
    url: https://history.state.gov
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.history.state.gov/v1
    description: |
      Future production endpoint (not yet deployed). Described here as a
      roadmap specification. The current app uses GitHub's raw CDN and local
      SQLite in place of this server.

security:
  - ApiKeyAuth: []

tags:
  - name: Volumes
    description: Volume manifest, download, and page range data
  - name: Documents
    description: Document browse and retrieval
  - name: Persons
    description: |
      Volume-level persons list extracted from front-matter `<listPerson>` sections.
      Used by `PersonMentionStore` and `ASTToRenderNodeConverter` to resolve
      `<persName>` references to structured `PersonEntry` values. Added in Session 40.
  - name: Glossaries
    description: |
      Volume-level terms and abbreviations extracted from front-matter
      `<div type="terms">` sections. Used to resolve `<gloss>` references.
      Added alongside Persons in Session 40–41.
  - name: Subjects
    description: Subject tag taxonomy and document appearances
  - name: CrossReferences
    description: Directed document cross-reference graph data
  - name: SourceNotes
    description: |
      Structured archival provenance extracted from document source notes.
      `SourceNoteParser` (Sessions 23, 130) classifies each note into typed
      cases (lot file, RG number, presidential library, CIA, etc.).
      `SourcesParserDelegate` (Session 130) extracts the volume-level sources
      list during indexing.
  - name: Highlights
    description: |
      User-created text highlights with flat-text character offsets and color tags.
      `DocumentHighlight` SwiftData model introduced in Session 102; highlights
      rendered via the CSS Custom Highlight API (Sessions 143–145).
  - name: Search
    description: Full-text search across indexed FRUS documents
  - name: CitationLookup
    description: Page-number-to-document resolution (Session 30)

paths:

  /volumes:
    get:
      summary: List all FRUS volumes
      description: |
        Returns the paginated manifest of all FRUS volumes: every published,
        partially published, and planned volume with its full metadata.

        **Current implementation:** Data is bundled in `manifest.json` (generated
        by `ManifestGenerator` from TEI headers in the HistoryAtState GitHub
        repository) and served from `ManifestStore`. Introduced in Session 02.
      operationId: listVolumes
      tags:
        - Volumes
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - name: status
          in: query
          schema:
            type: string
            enum: [published, partiallyPublished, planned]
          description: Filter by publication status. Omit to return all statuses.
        - name: subseries
          in: query
          schema:
            type: string
          description: |
            Filter to volumes in a specific subseries (e.g. `1969-76`). Subseries
            identifiers are derived from the filename prefix.
      responses:
        "200":
          description: Paginated list of volume manifest entries
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VolumeManifestList"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}:
    get:
      summary: Retrieve metadata for a single FRUS volume
      description: |
        Returns full metadata for one FRUS volume by its stable identifier.

        **Current implementation:** Metadata is looked up by `volumeId` in the
        in-memory manifest array held by `ManifestStore`. No separate per-volume
        endpoint exists in the app — the full manifest is always fetched. This
        endpoint would allow the app to refresh a single volume's metadata without
        re-fetching the entire manifest. Introduced as a spec endpoint in Session 28.
      operationId: getVolume
      tags:
        - Volumes
      parameters:
        - $ref: "#/components/parameters/VolumeId"
      responses:
        "200":
          description: Volume manifest entry
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VolumeManifestEntry"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}/download:
    get:
      summary: Download a FRUS volume XML file
      description: |
        Returns the full TEI XML for a single FRUS volume.

        **Current implementation:** `DownloadManager` constructs the URL as
        `https://raw.githubusercontent.com/HistoryAtState/frus/master/volumes/{filename}`
        and fetches it with `URLSession`. Introduced in Session 05.

        A purpose-built FRUS API would serve this endpoint with HTTP range support
        (via `Accept-Ranges` / `Range` headers) for resumable downloads and
        `Content-Encoding: gzip` for compressed transfer.
      operationId: downloadVolume
      tags:
        - Volumes
      parameters:
        - $ref: "#/components/parameters/VolumeId"
      responses:
        "200":
          description: Full TEI XML content of the volume
          headers:
            Content-Length:
              schema:
                type: integer
              description: File size in bytes.
            ETag:
              schema:
                type: string
              description: SHA-256 of the XML content, for cache validation.
            Accept-Ranges:
              schema:
                type: string
                example: bytes
              description: Indicates range request support for resumable downloads.
          content:
            application/xml:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}/documents:
    get:
      summary: List document metadata for a volume
      description: |
        Returns paginated lightweight metadata for every document in a volume,
        in source order (matching the order of `<div type="document">` elements
        in the TEI XML).

        **Current implementation:** Served from the local SQLite `document_cache`
        table populated by `IndexingPipeline`. The volume must be downloaded and
        indexed before this endpoint is meaningful. Introduced in Session 11.
      operationId: listDocuments
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/VolumeId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Ordered, paginated list of document metadata entries
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentBrowserEntryList"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}/documents/{documentId}:
    get:
      summary: Retrieve a single FRUS document
      description: |
        Returns the fully-rendered representation of one FRUS document as a
        structured JSON object ready for display by the Document view.

        **Current implementation:** No document-level API call exists. The full
        volume XML is read from local storage and `FRUSDocumentParser` (Session 06)
        uses early-abort SAX parsing to extract the target `<div type="document">`
        fragment. `ASTToRenderNodeConverter` (Session 06) then converts the AST
        to a `FRUSDocumentRenderModel` for rendering.

        A purpose-built API would serve pre-parsed render models, eliminating the
        full-XML download requirement.
      operationId: getDocument
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/VolumeId"
        - $ref: "#/components/parameters/DocumentId"
      responses:
        "200":
          description: Parsed document as a structured render model
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentRenderModel"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}/documents/{documentId}/cross-references:
    get:
      summary: Cross-reference graph for a document
      description: |
        Returns the ego graph centred on one FRUS document: all inbound edges
        (other documents that reference this one) and outbound edges (documents
        this one references), plus display metadata for every reachable node.

        **Current implementation:** `CrossReferenceStore` (Session 17) queries the
        `cross_references` SQLite table, populated by `IndexingPipeline` from
        `<ref>` elements inside footnote and editorial-note blocks. The graph is
        built in memory and rendered by `CrossReferenceGraphView` (Session 18)
        using a force-directed layout.

        A `downloadedOnly` flag restricts the response to nodes whose volumes the
        client has already downloaded, mirroring the `downloadedVolumeIds` filter
        applied locally by `CrossReferenceStore`.
      operationId: getDocumentCrossReferences
      tags:
        - CrossReferences
      parameters:
        - $ref: "#/components/parameters/VolumeId"
        - $ref: "#/components/parameters/DocumentId"
        - name: downloadedOnly
          in: query
          schema:
            type: boolean
            default: false
          description: |
            When `true`, excludes nodes whose source volumes are not in the
            caller-supplied `knownVolumeIds` list. Use to replicate the
            client-side `downloadedVolumeIds` filter.
        - name: knownVolumeIds
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: |
            Volume IDs the client has already downloaded; used with `downloadedOnly`
            to filter the response to locally-resolvable nodes only.
      responses:
        "200":
          description: Cross-reference ego graph for the document
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrossReferenceGraph"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}/page-ranges:
    get:
      summary: Page range table for a volume
      description: |
        Returns all page-break records extracted from the volume's TEI XML
        during indexing. Used by the Citation Lookup feature (Session 30) to
        resolve citations of the form "FRUS 1969–76 Vol. I, p. 47" to specific
        documents.

        **Current implementation:** Populated by `IndexingPipeline` from
        `<pb>` elements in the TEI XML. Schema and storage logic will be
        defined in Session 30. Endpoint specified here as a placeholder.
      operationId: getVolumePageRanges
      tags:
        - Volumes
        - CitationLookup
      parameters:
        - $ref: "#/components/parameters/VolumeId"
      responses:
        "200":
          description: Array of page-range records for the volume
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PageRangeRecord"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}/persons:
    get:
      summary: Persons list for a volume
      description: |
        Returns all persons recorded in the volume's front-matter `<listPerson>`
        or `<div type="persons">` section, each with a stable `ref` identifier,
        a display name, and an optional biographical description.

        **Current implementation:** Extracted by `PersonsParserDelegate` (Sessions 40–41)
        during volume indexing and stored in the `persons` SQLite table. Available at
        runtime via `PersonMentionStore.allPersons(forVolumeId:)`. The volume must be
        fully downloaded and indexed for this data to be available.

        `ASTToRenderNodeConverter` uses these records to resolve `<persName ref="…">`
        elements to `PersonEntry` objects embedded in `persNameLink` render nodes,
        enabling the Person Detail sheet. Serving this endpoint server-side would
        eliminate the need to download the full XML just to resolve person name links.

        **Session history:** Session 40 introduced `PersonMentionStore` and SQLite
        persistence. Session 41 implemented the SQLite-first lookup with XML fallback.
        Session 149 added user-facing feedback when the lookup returns nil.
      operationId: getVolumePersons
      tags:
        - Persons
      parameters:
        - $ref: "#/components/parameters/VolumeId"
      responses:
        "200":
          description: Array of person entries for the volume
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PersonEntry"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}/terms:
    get:
      summary: Terms and abbreviations glossary for a volume
      description: |
        Returns all entries in the volume's front-matter terms/abbreviations
        glossary (`<div type="terms">`), each with a stable `ref` identifier,
        a term string, and an optional definition.

        **Current implementation:** Extracted by `TermsParserDelegate` (Session 40–41)
        during indexing and stored in the `terms` SQLite table. Available at runtime
        via `PersonMentionStore.allTerms(forVolumeId:)`. Used by
        `ASTToRenderNodeConverter` to resolve `<gloss target="…">` elements to
        `GlossEntry` objects in `glossLink` render nodes.

        Serving this server-side would eliminate the full XML download requirement
        for glossary resolution.
      operationId: getVolumeTerms
      tags:
        - Glossaries
      parameters:
        - $ref: "#/components/parameters/VolumeId"
      responses:
        "200":
          description: Array of gloss entries for the volume
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GlossEntry"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}/documents/{documentId}/html:
    get:
      summary: Pre-rendered HTML for a document
      description: |
        Returns the document body as a self-contained HTML fragment, ready for
        direct display in a `WKWebView` without client-side XML parsing or AST
        conversion.

        **Current implementation:** The app performs the full pipeline on-device:
        (1) download 5–30 MB TEI XML, (2) `FRUSDocumentParser` SAX parse,
        (3) `ASTToRenderNodeConverter` build `FRUSDocumentRenderModel`,
        (4) `FRUSRenderNodeHTMLSerializer` produce HTML fragment,
        (5) `HTMLTemplate.build` wrap in full `<!DOCTYPE html>` document with
        CSS variables. All of these steps run locally. Sessions 140–147 (WebKit
        Rendering Migration) introduced the serializer and template; the
        `FRUSDocumentWebView` now loads the result into a `WKWebView`.

        A purpose-built API serving pre-rendered HTML would eliminate steps 1–4
        entirely. The client supplies its preferred `textSize` and `colorScheme`
        query parameters so the server can inject the correct CSS variables.

        The response is the complete `<!DOCTYPE html>` string ready for
        `WKWebView.loadHTMLString(_:baseURL:)`.

        **Offset stability:** Each `<button data-skip="1">` footnote marker and
        `<aside popover data-skip="1">` footnote body carry the `data-skip`
        attribute defined in Session 143 (`frus-offset-engine.js`). The flat-text
        character offsets stored in `DocumentHighlight.startOffset`/`endOffset`
        are stable across server re-renders as long as the TEI source and
        `ASTToRenderNodeConverter.version` constant are unchanged.
      operationId: getDocumentHtml
      tags:
        - Documents
      parameters:
        - $ref: "#/components/parameters/VolumeId"
        - $ref: "#/components/parameters/DocumentId"
        - name: textSize
          in: query
          schema:
            type: string
            enum: [small, medium, large, extraLarge]
            default: medium
          description: |
            Body text size preference. Maps to `TextSizePreference` body font
            sizes: small=12px, medium=14px, large=16px, extraLarge=19px.
        - name: colorScheme
          in: query
          schema:
            type: string
            enum: [light, dark]
            default: light
          description: |
            Color scheme for injected CSS variables. The server injects the
            appropriate `--color-primary`, `--color-background`, etc. values
            matching the `FRUSTheme.cssVariables` output.
      responses:
        "200":
          description: Complete HTML document string
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
            ETag:
              schema:
                type: string
              description: |
                Identifies the specific TEI source + converter version combination
                used to render this HTML. Matches the `renderingVersion` field on
                `DocumentHighlight` records created from this render.
          content:
            text/html:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /volumes/{volumeId}/source-notes:
    get:
      summary: Structured source note provenance for all documents in a volume
      description: |
        Returns structured archival provenance for every document in a volume
        that carries a source note, parsed into typed cases by `SourceNoteParser`.

        **Current implementation:** `SourcesParserDelegate` (Session 130) extracts
        the volume-level sources list from the front matter during indexing and
        writes it to `document_sources` and `volume_sources` SQLite tables.
        `SourceNoteParser` (Sessions 23, 130, 150) classifies individual notes.
        `SourceExplorerView` uses these to present NARA Catalog lookups, CIA CREST
        links, and period-specific finding-aid URLs.

        Serving this server-side would make source note resolution available
        without requiring the volume to be downloaded or indexed.

        **Provenance types:** Each item's `provenanceType` field maps to a
        `ParsedSourceNote` enum case in `SourceNoteParser.swift`:

        | `provenanceType` | Description |
        |------------------|-------------|
        | `lotFile` | State Dept. lot file (RG 59/84) — lot number + optional series |
        | `naraCollection` | NARA record group with series info — RG + series + lot |
        | `centralFiles` | State Dept. central files (decimal or subject-numeric) |
        | `cfpfFile` | Central Foreign Policy Files 1973–1979 (P/D/N reels, AAD telegrams) |
        | `presidentialLibrary` | Presidential library folder |
        | `ciaCollection` | CIA record — job number + box |
        | `namedFileSeries` | Named office-file series or manuscript collection cited without a lot number or repository (`IO Files`, `Roosevelt Papers`) — series name is the match key |
        | `foreignGovernmentArchive` | Foreign archive |
        | `previouslyPublished` | Citation to a published work |
        | `unrecognized` | Could not be parsed |
      operationId: getVolumeSourceNotes
      tags:
        - SourceNotes
      parameters:
        - $ref: "#/components/parameters/VolumeId"
      responses:
        "200":
          description: Array of structured source note records, one per document that has a source note
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StructuredSourceNote"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /subjects:
    get:
      summary: Full subject tag taxonomy
      description: |
        Returns the complete flat list of subject tags used across all FRUS
        volumes and documents, each with its display name and category.

        **Current implementation:** `SubjectTagStore` loads `taxonomy.json`
        (bundled with the app) at launch and holds the taxonomy in memory.
        No network call is made at runtime; the taxonomy is updated by
        regenerating the bundle file. Introduced in Session 08.

        A purpose-built API would serve the current taxonomy and allow the
        app to fetch updates without a full app update.
      operationId: listSubjects
      tags:
        - Subjects
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
        - name: category
          in: query
          schema:
            type: string
            enum: [people, places, topics]
          description: Filter to one top-level category. Omit to return all.
      responses:
        "200":
          description: Paginated subject tag list
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubjectTagList"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /subjects/appearances/{volumeId}:
    get:
      summary: Subject tag appearances for a volume
      description: |
        Returns all document-level subject tag assignments for a volume: each
        record links a subject tag to a document with a confidence tier
        (`curated` or `stringMatch`).

        **Current implementation:** `SubjectTagStore` loads `subject-appearances.json`
        (bundled with the app). The file is generated during corpus analysis and
        bundled rather than fetched at runtime. `IndexingPipeline` also writes
        appearances to the `subject_appearances` SQLite table for FTS5 filtering.
        Introduced in Session 08.
      operationId: getSubjectAppearances
      tags:
        - Subjects
      parameters:
        - name: volumeId
          in: path
          required: true
          schema:
            type: string
          description: Volume identifier, e.g. `frus1969-76v01`
        - name: confidence
          in: query
          schema:
            type: string
            enum: [curated, stringMatch]
          description: Filter by confidence tier. Omit to return both tiers.
      responses:
        "200":
          description: Array of subject tag appearances for the volume
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubjectAppearance"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "404":
          $ref: "#/components/responses/404NotFound"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  # GET /volumes/{volumeId}/persons/{ref}/documents
  # Returns documents within a specific volume that mention the given person ref.
  # Backed by PersonMentionStore.documents(forPersonRef:) filtered by volumeId.
  # Full implementation in Session 40/41 when person glossary endpoints are added.

  /search:
    get:
      summary: Full-text search across indexed FRUS documents
      description: |
        Executes a BM25-ranked full-text search across all indexed FRUS volumes.
        Supports keyword queries, phrase search, prefix wildcard, boolean NOT,
        subject-tag filtering, volume-scoped filtering, and optional date-range
        filtering.

        Results are ordered by BM25 relevance (lower score = more relevant).

        **Current implementation:** `SearchService` (Session 09) queries the
        FTS5 virtual table inside `FTS5Store` and hydrates results from the
        `document_cache` table. The `SearchViewModel` (Session 16) drives the
        `SearchView` UI. Search runs entirely on-device against the local SQLite
        database.
      operationId: searchDocuments
      tags:
        - Search
      parameters:
        - name: keywords
          in: query
          schema:
            type: string
          description: |
            Space-separated keywords combined via boolean AND (default) or OR.
            Maps to the `keywords` field of `SearchQuery` in `SearchModels.swift`.
        - name: phrase
          in: query
          schema:
            type: string
          description: Exact phrase that must appear in order.
        - name: booleanMode
          in: query
          schema:
            type: string
            enum: [and, or]
            default: and
          description: How multiple keywords are combined.
        - name: excludedTerms
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: Terms that must NOT appear in matching documents.
        - name: prefixWildcard
          in: query
          schema:
            type: string
          description: |
            Prefix for a wildcard search (e.g. `negoti` matches `negotiate`,
            `negotiated`). Maps to the `prefixWildcard` field of `SearchQuery`.
        - name: dateRangeEarliest
          in: query
          schema:
            type: string
            format: date
          description: Only return documents on or after this ISO 8601 date.
        - name: dateRangeLatest
          in: query
          schema:
            type: string
            format: date
          description: Only return documents on or before this ISO 8601 date.
        - name: subjectTagIds
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: Restrict to documents carrying ALL of the given subject tag IDs.
        - name: volumeIds
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          description: |
            Restrict results to these volume IDs. Omit to search all indexed volumes.
        - name: includeSummaries
          in: query
          schema:
            type: boolean
            default: true
          description: Whether to search AI-generated summary text.
        - name: includeNotes
          in: query
          schema:
            type: boolean
            default: true
          description: Whether to search user research note text.
        - name: documentType
          in: query
          required: false
          schema:
            type: string
            enum: [all, documentsOnly, editorialNotesOnly]
            default: all
          description: >
            Filter results by document type. `all` returns all indexed content (default).
            `documentsOnly` excludes editorial notes. `editorialNotesOnly` returns only
            editorial notes. Added in Session 38.
        - name: personRef
          in: query
          required: false
          schema:
            type: string
          description: >
            If provided, restrict results to documents mentioning this person ref
            (the `ref` attribute value from `<persName ref="...">` elements, e.g. `"p_kissinger"`).
            Applied as a post-processing filter after FTS5 matching. Added in Session 39.
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Offset"
      responses:
        "200":
          description: Paginated ranked search results
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResultList"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

  /citation-lookup:
    get:
      summary: Resolve a FRUS citation to matching documents
      description: |
        Accepts structured citation fields and returns a ranked list of
        `CitationMatch` results. Strategies are attempted in priority order:
        exact document number, page range, superimposed document number,
        fuzzy document number, title fragment disambiguation, and manifest-only
        (volume not downloaded).

        **Current implementation:** `CitationMatchingEngine` (Session 30) resolves
        citations entirely on-device using the local FTS5 index and `page_ranges`
        SQLite table. A future FRUS API could serve this endpoint to enable
        citation resolution without downloading volumes.

        For undownloaded volumes the response includes `requiresDownload: true`
        and a populated `volumeManifestEntry` for display before the user confirms
        a download.
      operationId: lookupCitation
      tags:
        - Citation
      parameters:
        - name: subseries
          in: query
          schema:
            type: string
          description: |
            Chronological subseries identifier, e.g. `"1969-76"`.
            Hyphens and en dashes are treated interchangeably.
        - name: volumeNumber
          in: query
          schema:
            type: string
          description: |
            Volume number string, e.g. `"I"`, `"XIV"`, `"1"`.
            Arabic and Roman numeral forms are normalized before matching.
        - name: documentNumber
          in: query
          schema:
            type: integer
          description: Printed document number to resolve.
        - name: pageNumber
          in: query
          schema:
            type: integer
          description: Page number for page-range–based resolution.
        - name: titleFragment
          in: query
          schema:
            type: string
          description: |
            Partial volume title text used to disambiguate when a volume number
            matches multiple volumes in the same subseries.
      responses:
        "200":
          description: Ranked list of citation matches (may be empty).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CitationMatch"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "401":
          $ref: "#/components/responses/401Unauthorized"
        "429":
          $ref: "#/components/responses/429TooManyRequests"
        "500":
          $ref: "#/components/responses/500ServerError"

components:

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key issued by the Office of the Historian. In FRUS Explorer the key
        is stored in iCloud Keychain via `KeychainStore` (Session 05) under a
        shared access group, allowing it to sync across the user's devices.
        Keys are entered in the NARA API Key panel within the Settings screen.

  parameters:
    VolumeId:
      name: volumeId
      in: path
      required: true
      schema:
        type: string
      description: |
        Stable volume identifier derived from the XML filename without extension.
        Example: `frus1969-76v01`

    DocumentId:
      name: documentId
      in: path
      required: true
      schema:
        type: string
      description: |
        Document identifier matching the `xml:id` attribute on the
        `<div type="document">` element. Example: `d1`

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      description: Maximum number of items to return in a single page.

    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0
      description: Number of items to skip before the first returned item.

  headers:
    X-RateLimit-Limit:
      schema:
        type: integer
      description: Maximum requests allowed in the current rate-limit window.
    X-RateLimit-Remaining:
      schema:
        type: integer
      description: Requests remaining in the current rate-limit window.
    X-RateLimit-Reset:
      schema:
        type: integer
      description: Unix timestamp (seconds) when the current window resets.

  responses:
    400BadRequest:
      description: The request was malformed or contained invalid parameters.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: INVALID_QUERY
            message: "Search query must contain at least one searchable term."
            detail: null

    401Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: UNAUTHORIZED
            message: "A valid X-API-Key header is required."
            detail: null

    404NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: NOT_FOUND
            message: "Volume 'frus1999-00v00' was not found."
            detail: null

    429TooManyRequests:
      description: Rate limit exceeded.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: RATE_LIMITED
            message: "Rate limit exceeded. Retry after 47 seconds."
            detail: null

    500ServerError:
      description: An unexpected server error occurred.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: INTERNAL_ERROR
            message: "An unexpected error occurred. Please try again later."
            detail: null

  schemas:

    # ── Shared ───────────────────────────────────────────────────────────────

    Error:
      type: object
      description: |
        Standard error response body returned for all 4xx and 5xx responses.
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Machine-readable error code in SCREAMING_SNAKE_CASE.
          example: VOLUME_NOT_FOUND
        message:
          type: string
          description: Human-readable description of the error.
          example: "Volume 'frus1969-76v99' was not found."
        detail:
          type:
            - string
            - "null"
          description: |
            Optional supplementary detail (e.g. a field name or constraint
            that was violated). Null when no additional context is available.

    DateRange:
      type: object
      description: Inclusive date range covered by a volume or document set.
      properties:
        earliest:
          type:
            - string
            - "null"
          format: date
          description: ISO 8601 date of the earliest document in the range.
        latest:
          type:
            - string
            - "null"
          format: date
          description: ISO 8601 date of the latest document in the range.

    # ── Pagination wrappers ───────────────────────────────────────────────────

    VolumeManifestList:
      type: object
      description: Paginated response wrapping a list of volume manifest entries.
      required:
        - total
        - items
      properties:
        total:
          type: integer
          description: Exact total count of volumes matching the filter parameters.
        items:
          type: array
          items:
            $ref: "#/components/schemas/VolumeManifestEntry"

    DocumentBrowserEntryList:
      type: object
      description: Paginated response wrapping a list of document metadata entries.
      required:
        - total
        - items
      properties:
        total:
          type: integer
          description: Exact total number of documents in the volume.
        items:
          type: array
          items:
            $ref: "#/components/schemas/DocumentBrowserEntry"

    SearchResultList:
      type: object
      description: |
        Paginated response wrapping ranked search results. The `total` field
        is an approximate count (BM25 match counting is non-trivial at scale).
      required:
        - total
        - items
      properties:
        total:
          type: integer
          description: Approximate total count of matching documents.
        items:
          type: array
          items:
            $ref: "#/components/schemas/SearchResult"

    SubjectTagList:
      type: object
      description: Paginated response wrapping subject tag entries.
      required:
        - total
        - items
      properties:
        total:
          type: integer
          description: Total number of subject tags in the taxonomy.
        items:
          type: array
          items:
            $ref: "#/components/schemas/SubjectTag"

    # ── Volumes ───────────────────────────────────────────────────────────────

    VolumeManifestEntry:
      type: object
      description: |
        Rich metadata for a single FRUS volume, generated from its TEI header.

        The `tags` field contains volume-level subject tag slugs extracted from
        `/TEI/teiHeader/profileDesc/textClass/keywords[@scheme="https://history.state.gov/tags"]/term`.
        These are authoritative OH-curated tags embedded in the published TEI.

        Corresponds to the `VolumeManifestEntry` Swift struct in
        `FRUSExplorer/Models/Manifest/ManifestModels.swift`. Introduced in Session 02.
      required:
        - volumeId
        - filename
        - subseries
        - title
        - dateRange
        - status
        - editors
        - documentCount
        - sizeBytes
        - tags
      properties:
        volumeId:
          type: string
          description: |
            Stable volume identifier derived from the filename without extension.
          example: frus1969-76v01
        filename:
          type: string
          description: XML filename in the HistoryAtState/frus repository.
          example: frus1969-76v01.xml
        subseries:
          type: string
          description: Subseries identifier derived from the filename prefix.
          example: "1969-76"
        title:
          type: string
          description: Full volume title from the TEI header.
        dateRange:
          $ref: "#/components/schemas/DateRange"
        publicationDate:
          type:
            - string
            - "null"
          description: ISO 8601 publication year or date; null if absent.
          example: "2003"
        status:
          type: string
          enum:
            - published
            - partiallyPublished
            - planned
          description: Publication status of the volume.
        editors:
          type: array
          items:
            type: string
          description: Named editors (excluding the general editor).
        generalEditor:
          type:
            - string
            - "null"
          description: General series editor, if named in the TEI header.
        documentCount:
          type: integer
          description: |
            Approximate number of documents. May be 0 for volumes predating
            the `documentCount` field in the manifest generator.
        sizeBytes:
          type: integer
          description: File size in bytes as reported by the GitHub API.
        tags:
          type: array
          items:
            type: string
          description: |
            Volume-level subject tag slugs from the TEI teiHeader. Empty array
            is valid for volumes predating the tagging system.
          example:
            - kissinger-henry-a
            - iran
            - arms-control-and-disarmament

    # ── Documents ─────────────────────────────────────────────────────────────

    DocumentBrowserEntry:
      type: object
      description: |
        Lightweight metadata for a single FRUS document, used by the browser's
        compilation/chapter list. Does not include document body content.

        Corresponds to `DocumentBrowserEntry` in
        `FRUSExplorer/Browser/BrowserViewModel.swift`. Sourced from the
        `document_cache` SQLite table populated by `IndexingPipeline`.
        Introduced in Session 11.
      required:
        - documentId
        - volumeId
        - header
      properties:
        documentId:
          type: string
          description: |
            The `xml:id` attribute on `<div type="document">`, e.g. `d1`.
        volumeId:
          type: string
          description: Volume this document belongs to, e.g. `frus1969-76v01`.
        documentNumber:
          type:
            - string
            - "null"
          description: Printed document number from the `<head>`, if present.
          example: "42"
        header:
          type: string
          description: Document heading or title line.
        dateline:
          type:
            - string
            - "null"
          description: Dateline string (place and date of authorship), if present.
        sourceNote:
          type:
            - string
            - "null"
          description: Archival provenance note, if present.
        dateISO:
          type:
            - string
            - "null"
          format: date
          description: |
            ISO 8601 date string (`yyyy-MM-dd`) extracted from TEI `<date @when>`
            attribute during indexing. Used for structured date-range filtering and
            date-based sort. Null when no parseable date was found. Added in
            Sessions 12–15 (date sort infrastructure).
          example: "1972-02-21"
        isEditorialNote:
          type: boolean
          description: |
            `true` when this entry is a FRUS editorial note rather than a
            primary-source document. Editorial notes carry contextual commentary
            inserted by editors. Introduced in Session 38 for the editorial-note
            filter in search and corpus browser.
          default: false

    DocumentRenderModel:
      type: object
      description: |
        The fully-rendered representation of a single FRUS document, structured
        for direct consumption by the Document view. Mirrors the
        `FRUSDocumentRenderModel` Swift type produced by
        `ASTToRenderNodeConverter` (Session 06).

        Body content is represented as a tree of `FRUSRenderNode` values.
        Footnote bodies are listed separately so the renderer can cross-reference
        marker and body positions.
      required:
        - documentId
        - volumeId
        - header
        - bodyNodes
        - footnotes
      properties:
        documentId:
          type: string
          description: The document identifier, e.g. `d1`.
        volumeId:
          type: string
          description: The volume this document belongs to.
        header:
          type: string
          description: Document heading extracted from `<head>`.
        dateline:
          type:
            - string
            - "null"
          description: Dateline string, if present.
        sourceNote:
          type:
            - string
            - "null"
          description: Archival source note, if present.
        bodyNodes:
          type: array
          description: Main content render nodes in document order.
          items:
            $ref: "#/components/schemas/FRUSRenderNode"
        footnotes:
          type: array
          description: Footnote body nodes in sequential display order.
          items:
            $ref: "#/components/schemas/FRUSRenderNode"

    FRUSRenderNode:
      type: object
      description: |
        A single node in the FRUS document render tree. Uses a `type` discriminator
        to represent the different content structures produced by
        `ASTToRenderNodeConverter` (Session 06).

        The full set of node types mirrors the `FRUSRenderNode` Swift enum in
        `FRUSExplorer/TEI/FRUSRenderNode.swift`. Complex recursive structures
        (paragraph, heading, blockquote, list) carry a `children` array of
        nested `FRUSRenderNode` objects.
      required:
        - type
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          description: Node type discriminator.
          enum:
            - heading
            - dateline
            - letterOpener
            - letterCloser
            - salutation
            - paragraph
            - footnoteBody
            - plainText
            - boldText
            - italicText
            - smallCapsText
            - underlineText
            - termText
            - footnoteMarker
            - persNameLink
            - glossLink
            - crossRefLink
            - pageBreak
            - tableBlock
            - listBlock
            - editorialNoteBlock
            - figureBlock
            - suppliedText
            - sicText
            - corrText
            - formulaText
            - lineBreak
            - unknown
        text:
          type: string
          description: Present on leaf text nodes (`plainText`, `formulaText`).
        children:
          type: array
          description: |
            Child nodes for container types (paragraph, heading, boldText, etc.).
          items:
            $ref: "#/components/schemas/FRUSRenderNode"
        id:
          type:
            - string
            - "null"
          description: |
            Footnote ID for `footnoteBody` and `footnoteMarker` nodes.
        number:
          type: integer
          description: Footnote display number for `footnoteBody` and `footnoteMarker`.
        ref:
          type:
            - string
            - "null"
          description: |
            Target reference string for `persNameLink`, `glossLink`, and
            `crossRefLink` nodes.
        target:
          type: string
          description: Cross-reference target document ID for `crossRefLink` nodes.

    # ── Cross-References ──────────────────────────────────────────────────────

    CrossReferenceGraph:
      type: object
      description: |
        The ego graph centred on one FRUS document, containing all inbound and
        outbound cross-references and display metadata for every reachable node.

        Mirrors `CrossReferenceGraph` in
        `FRUSExplorer/CrossReference/CrossReferenceModels.swift`.
        Introduced in Session 17.
      required:
        - centralDocumentId
        - centralVolumeId
        - inboundEdges
        - outboundEdges
        - hasUndownloadedSources
        - nodeMetadata
      properties:
        centralDocumentId:
          type: string
          description: Document ID of the ego-graph centre.
        centralVolumeId:
          type: string
          description: Volume ID of the ego-graph centre.
        inboundEdges:
          type: array
          description: References whose target is the central document.
          items:
            $ref: "#/components/schemas/CrossReferenceEdge"
        outboundEdges:
          type: array
          description: References whose source is the central document.
          items:
            $ref: "#/components/schemas/CrossReferenceEdge"
        hasUndownloadedSources:
          type: boolean
          description: |
            `true` when at least one inbound edge has a source volume absent
            from the `knownVolumeIds` filter, indicating potentially incomplete
            inbound data.
        nodeMetadata:
          type: object
          description: |
            Display metadata keyed by `"volumeId/documentId"`. Includes the
            central document and every reachable node. Values may have null
            header/dateline for documents from volumes not in `document_cache`.
          additionalProperties:
            $ref: "#/components/schemas/CrossReferenceNodeMetadata"

    CrossReferenceEdge:
      type: object
      description: |
        A directed reference from one FRUS document to another, extracted from
        a `<ref>` element inside a footnote or editorial-note block during
        indexing. Mirrors `CrossReferenceEdge` in CrossReferenceModels.swift.
      required:
        - sourceDocumentId
        - sourceVolumeId
        - targetDocumentId
        - targetVolumeId
        - referenceType
      properties:
        sourceDocumentId:
          type: string
          description: Document ID of the citing document.
        sourceVolumeId:
          type: string
          description: Volume ID of the citing document.
        targetDocumentId:
          type: string
          description: Document ID of the cited document.
        targetVolumeId:
          type: string
          description: Volume ID of the cited document.
        context:
          type:
            - string
            - "null"
          description: |
            Surrounding footnote or editorial-note text captured at index time.
            Null for edges indexed before the `context` column was added.
        referenceType:
          $ref: "#/components/schemas/ReferenceType"

    CrossReferenceNodeMetadata:
      type: object
      description: |
        Display-ready metadata for one node (document) in the cross-reference
        graph. Fields are null for documents whose volumes have not been indexed.
        Mirrors `CrossReferenceNodeMetadata` in CrossReferenceModels.swift.
      required:
        - documentId
        - volumeId
      properties:
        documentId:
          type: string
          description: Document identifier within its volume.
        volumeId:
          type: string
          description: Volume the document belongs to.
        documentNumber:
          type:
            - string
            - "null"
          description: Printed document number, if known.
        header:
          type:
            - string
            - "null"
          description: Document header/title, or null if the volume is not indexed.
        dateline:
          type:
            - string
            - "null"
          description: Dateline string, or null if the volume is not indexed.
        dateISO:
          type:
            - string
            - "null"
          description: |
            ISO-8601 document date from `document_dates.date_iso` (`yyyy-MM-dd`,
            possibly truncated to `yyyy-MM` or `yyyy`). Null for unindexed or
            undated documents. Added in Session 161 for the timeline layout and
            node date labels.
        summary:
          type:
            - string
            - "null"
          description: |
            On-device generated summary from `document_cache.summary_text`, when
            the user has summarized this document. Added in Session 161 so the
            graph's node info panel can preview a document without opening it.

    ReferenceType:
      type: string
      description: |
        Whether a cross-reference was extracted from a footnote or an editorial
        note block. Mirrors `ReferenceType` in CrossReferenceModels.swift.
      enum:
        - footnote
        - editorialNote

    # ── Subjects ──────────────────────────────────────────────────────────────

    SubjectTag:
      type: object
      description: |
        A single entry in the FRUS subject taxonomy. Tags are used at both the
        volume level (via `VolumeManifestEntry.tags`) and the document level
        (via `SubjectAppearance`).

        Mirrors `SubjectTag` and `SubjectTagEntry` in
        `FRUSExplorer/Models/Tags/TaxonomyModels.swift`. Introduced in Session 08.
      required:
        - subjectId
        - displayName
        - category
      properties:
        subjectId:
          type: string
          description: |
            Stable slug, sharing the namespace with `VolumeManifestEntry.tags`.
          example: kissinger-henry-a
        displayName:
          type: string
          description: Human-readable tag name for display in the UI.
          example: Kissinger, Henry A.
        category:
          type: string
          enum:
            - people
            - places
            - topics
          description: |
            Top-level taxonomy category. Maps to `TagCategory` in
            TaxonomyModels.swift.

    SubjectAppearance:
      type: object
      description: |
        A record linking a subject tag to a specific document, with a confidence
        tier reflecting how the association was assigned.

        Mirrors `SubjectAppearance` in TaxonomyModels.swift. Used by
        `SubjectTagStore` to answer "which subjects appear in document X?" and
        "which documents mention subject Y?". Introduced in Session 08.
      required:
        - subjectId
        - documentId
        - volumeId
        - confidence
      properties:
        subjectId:
          type: string
          description: Subject tag identifier.
        documentId:
          type: string
          description: Document carrying the tag.
        volumeId:
          type: string
          description: Volume the document belongs to.
        confidence:
          $ref: "#/components/schemas/SubjectTagConfidence"

    SubjectTagConfidence:
      type: string
      description: |
        Confidence tier for a document-level subject tag assignment.

        - `curated`: Manually verified by OH staff or the data pipeline operator.
          Displayed in the UI with a checkmark badge (per accessibility decision Q5).
        - `stringMatch`: Derived algorithmically via string matching. May include
          false positives. Displayed with a question-mark badge.

        Mirrors `SubjectTagConfidence` in TaxonomyModels.swift.
      enum:
        - curated
        - stringMatch

    # ── Search ────────────────────────────────────────────────────────────────

    SearchResult:
      type: object
      description: |
        A single ranked full-text search result. Results are ordered by BM25
        relevance score (lower = more relevant). The `snippet` field contains
        the matching context with `<b>…</b>` delimiters around the first
        matching run, suitable for display in result lists.

        Mirrors `SearchResult` in `FRUSExplorer/Search/SearchModels.swift`.
        Introduced in Session 09.
      required:
        - documentId
        - volumeId
        - header
        - snippet
        - bm25Score
        - subjectTagIds
        - userTagIds
      properties:
        documentId:
          type: string
          description: Document identifier, unique within its volume.
        volumeId:
          type: string
          description: Volume this document belongs to.
        documentNumber:
          type:
            - string
            - "null"
          description: Printed document number, if present.
        header:
          type: string
          description: Document header / title line.
        dateline:
          type:
            - string
            - "null"
          description: Dateline string.
        sourceNote:
          type:
            - string
            - "null"
          description: Archival source note.
        snippet:
          type: string
          description: Context snippet with matching terms wrapped in `<b>…</b>`.
        bm25Score:
          type: number
          format: double
          description: BM25 relevance score. Lower (more negative) = more relevant.
        subjectTagIds:
          type: array
          items:
            type: string
          description: Subject tag IDs associated with this document.
        userTagIds:
          type: array
          items:
            type: string
          description: User tag IDs from research notes linked to this document.
        isEditorialNote:
          type: boolean
          description: >
            True if this entry is a FRUS editorial note rather than a primary-source
            document. Editorial notes carry contextual commentary inserted by editors
            rather than original diplomatic correspondence. Added in Session 38.
          default: false
        dateISO:
          type:
            - string
            - "null"
          format: date
          description: |
            ISO 8601 date string extracted from TEI `<date @when>` during indexing.
            Used to enable date-based sort of search results. Added in Sessions 12–15.
          example: "1969-01-20"

    # ── Citation Lookup ───────────────────────────────────────────────────────

    PageRangeRecord:
      type: object
      description: |
        A single page-break record extracted from a volume's TEI XML during
        indexing. Used by the Citation Lookup engine (Session 30) to resolve
        page number references to specific documents and sections.

        Storage logic and full schema detail will be finalized in Session 30.
        Endpoint defined here as a forward specification.
      required:
        - volumeId
        - documentId
        - pageNumber
        - pageNumberType
      properties:
        volumeId:
          type: string
          description: Volume this page break belongs to.
        documentId:
          type: string
          description: Document containing this page break.
        sectionId:
          type:
            - string
            - "null"
          description: Section or compilation grouping, if applicable.
        pageNumber:
          type: string
          description: Raw `@n` attribute value from the `<pb>` element.
        pageNumberType:
          type: string
          enum:
            - arabic
            - roman
            - prefixed
            - unparseable
          description: Normalised page number type derived from the `@n` value.

    # ── Persons and Glossaries (Sessions 40–41) ──────────────────────────────

    PersonEntry:
      type: object
      description: |
        A single entry from the volume's List of Persons front-matter section.
        Extracted from `<listPerson>` or `<div type="persons">` by
        `PersonsParserDelegate` during indexing.

        The `ref` value matches the `xml:id` attribute on the `<persName>` element
        in the front-matter list (e.g. `"p_HK1"`). It is used as a key in
        `ASTToRenderNodeConverter.personLookup` to resolve `<persName ref="#p_HK1">`
        inline references to this full entry.

        Mirrors `PersonEntry` in `FRUSExplorer/TEI/FRUSASTNode.swift`.
      required:
        - ref
        - name
      properties:
        ref:
          type: string
          description: |
            Bare `xml:id` value without leading `#`, e.g. `"p_HK1"`.
          example: p_HK1
        name:
          type: string
          description: Full display name.
          example: "Kissinger, Henry A."
        description:
          type:
            - string
            - "null"
          description: Brief biographical note, if present in the TEI source.

    GlossEntry:
      type: object
      description: |
        A single entry from the volume's terms and abbreviations glossary,
        extracted from `<div type="terms">` by `TermsParserDelegate`.

        The `ref` value matches the `xml:id` attribute (e.g. `"t_NSC1"`).
        Used by `ASTToRenderNodeConverter.glossLookup` to resolve
        `<gloss target="#t_NSC1">` inline references.

        Mirrors `GlossEntry` in `FRUSExplorer/TEI/FRUSASTNode.swift`.
      required:
        - ref
        - term
      properties:
        ref:
          type: string
          description: Bare `xml:id` value without leading `#`.
          example: t_NSC1
        term:
          type: string
          description: The abbreviated term or acronym.
          example: NSC
        definition:
          type:
            - string
            - "null"
          description: Full expansion or definition, if present.
          example: "National Security Council"

    # ── Source Notes (Sessions 23, 130, 150) ─────────────────────────────────

    StructuredSourceNote:
      type: object
      description: |
        Structured archival provenance for a single document, parsed from its
        source note by `SourceNoteParser`.

        `provenanceType` is a discriminator corresponding to `ParsedSourceNote`
        enum cases in `SourceNoteParser.swift`. The typed sub-fields (lotNumber,
        recordGroup, library, collection, jobNumber, fileIdentifier) are populated
        according to the case; unused fields are null.

        Introduced in Session 23; extended in Session 130 with `.naraCollection`
        and `.ciaCollection` cases; Session 150 added date-based routing for
        decimal-file citations; Session 151 added `.cfpfFile` (Central Foreign
        Policy Files 1973–1979); Source Explorer Phase 1 (2026-07-03) added the
        `classification` field (sentence 2 of the source note when it is
        classification markings); Source Explorer Phase 2 (2026-07-03) added
        `.namedFileSeries` (named office-file series and manuscript collections
        cited without a lot number or repository — the `series` field carries the
        series name, which is the match key the collection-authority work
        resolves; no repository is asserted at parse time). The indexed
        `document_sources` row additionally stores `lot_file_norm`, a canonical
        compact uppercase lot key (`"64D199"`) derived from `lotNumber` for
        exact-match archival-neighbor keying; it is a derived normalization of
        `lotNumber`, not a separate field of this schema. Source Explorer
        Phase 3 (2026-07-03) likewise added the derived `decimal_class` column:
        the canonical decimal / subject-numeric class location
        (`"POL 27 ARAB-ISR"`, `"788.5"` — whitespace collapsed, Unicode dashes
        mapped to the ASCII hyphen) extracted from the citation sentence of
        central-files-shaped notes for class-leaf archival-neighbor matching;
        also a derived normalization, not a field of this schema.
      required:
        - documentId
        - volumeId
        - rawText
        - provenanceType
      properties:
        documentId:
          type: string
          description: Document this source note belongs to.
        volumeId:
          type: string
          description: Volume the document belongs to.
        rawText:
          type: string
          description: The plain-text source note as it appears in the TEI document.
        provenanceType:
          type: string
          enum:
            - lotFile
            - naraCollection
            - centralFiles
            - cfpfFile
            - presidentialLibrary
            - ciaCollection
            - namedFileSeries
            - foreignGovernmentArchive
            - previouslyPublished
            - unrecognized
          description: Classified provenance type.
        recordGroup:
          type:
            - string
            - "null"
          description: NARA record group number (e.g. `"59"`, `"218"`). Present for `naraCollection`, `lotFile`, and `centralFiles`.
        lotNumber:
          type:
            - string
            - "null"
          description: State Dept. lot file number (e.g. `"63D135"`). Present for `lotFile` and `naraCollection`.
        series:
          type:
            - string
            - "null"
          description: Series name within the record group, if extracted. For `namedFileSeries`, the cited series/collection name itself (e.g. `"IO Files"`, `"Roosevelt Papers"`).
        fileIdentifier:
          type:
            - string
            - "null"
          description: Decimal file number, subject-numeric code, or other file identifier.
        library:
          type:
            - string
            - "null"
          description: Presidential library name (e.g. `"Kennedy Library"`). Present for `presidentialLibrary`.
        collection:
          type:
            - string
            - "null"
          description: Collection name within the library. Present for `presidentialLibrary`.
        jobNumber:
          type:
            - string
            - "null"
          description: CIA accession job number (e.g. `"80B01285A"`). Present for `ciaCollection`.
        box:
          type:
            - string
            - "null"
          description: Box number within the series or collection.
        classification:
          type:
            - string
            - "null"
          description: |
            Classification markings from the second sentence of the source note,
            per the frus-sources sentence model (sentence 1 = archival citation,
            sentence 2 = markings, remainder = remarks). A short semicolon-separated
            marking string, e.g. `"Secret; Nodis"` or `"Top Secret; Sensitive;
            Exclusively Eyes Only"`. Null when the second sentence does not match
            the classification-marking vocabulary (the extractor stores null rather
            than junk). Added in Source Explorer Phase 1 (2026-07-03); stored in
            the `document_sources.classification` column.
          example: "Secret; Nodis"

    # ── Document Highlights (Sessions 102–145) ───────────────────────────────

    DocumentHighlight:
      type: object
      description: |
        A user-created text highlight within a FRUS document, stored using flat-text
        Unicode-scalar character offsets.

        Offsets are computed by the same DFS traversal over `FRUSDocumentRenderModel.bodyNodes`
        that produces `window.FRUSOffsets.flatText` in the browser (Sessions 102, 143).
        They are stable across app versions as long as the TEI source and
        `ASTToRenderNodeConverter.version` constant are unchanged.

        Currently stored in SwiftData + CloudKit as `DocumentHighlight` in
        `FRUSExplorer/Models/DocumentHighlight.swift`. The CSS Custom Highlight API
        renders them in the `FRUSDocumentWebView` (Sessions 143–145).

        An API that stores highlights server-side would enable cross-device highlight
        sync via a public endpoint rather than CloudKit, making highlights accessible
        to web and third-party clients.
      required:
        - id
        - documentId
        - volumeId
        - startOffset
        - endOffset
        - colorTag
        - renderingVersion
      properties:
        id:
          type: string
          format: uuid
          description: Stable highlight identifier.
        documentId:
          type: string
          description: Document the highlight belongs to.
        volumeId:
          type: string
          description: Volume the document belongs to.
        startOffset:
          type: integer
          description: |
            Inclusive start of the highlighted range in the flat-text offset space
            (Unicode scalar position, 0-based).
        endOffset:
          type: integer
          description: |
            Exclusive end of the highlighted range (Unicode scalar position).
        colorTag:
          type: string
          enum: [yellow, green, blue, pink]
          description: Highlight colour. Rendered via `::highlight(frus-{colorTag})` CSS rules.
        selectedText:
          type:
            - string
            - "null"
          description: |
            The verbatim text the user selected when creating the highlight.
            Stored for display in the Research window without re-parsing the document.
            Added in Session 131.
        renderingVersion:
          type: string
          description: |
            16-character hex prefix of SHA-256(flatText ++ converterVersion).
            When this does not match the current document render version, the
            highlight is considered stale and rendered in amber.
        createdAt:
          type:
            - string
            - "null"
          format: date-time
          description: ISO 8601 timestamp when the highlight was created.

    CitationMatch:
      type: object
      description: |
        A single candidate match from the citation lookup engine.
        Returned by `GET /citation-lookup`.
      required:
        - documentId
        - volumeId
        - rank
        - matchStrategy
        - confidenceLabel
        - requiresDownload
      properties:
        documentId:
          type: string
          description: Document identifier. Empty string for manifest-only results.
        volumeId:
          type: string
          description: Volume identifier.
        rank:
          type: integer
          description: Result rank; 1 = most likely match.
        matchStrategy:
          type: string
          enum:
            - exactDocumentNumber
            - pageRange
            - superimposedDocumentNumber
            - fuzzyDocumentNumber
            - titleFragmentMatch
            - manifestOnly
            - bestGuess
          description: Strategy used to make the match.
        confidenceLabel:
          type: string
          description: Explicit human-readable match quality label shown in the UI.
        correctionNote:
          type:
            - string
            - "null"
          description: |
            Plain-language explanation when a correction or best-guess recovery
            was applied. Displayed below the result card.
        requiresDownload:
          type: boolean
          description: "`true` when the matched volume is not in the local corpus."
        volumeManifestEntry:
          $ref: "#/components/schemas/VolumeManifestEntry"
          description: Populated for `requiresDownload: true` results.
